.jumbotron {
  padding-top: 2rem;
  background-color: #a2d9ff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#projects {
  background-color: #a2d9ff;
}
section {
  padding-top: 5rem;
}
